<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./create-account-style.css" />
    <title>Create account</title>
  </head>
  <body>
    <label for="name">Name</label>
    <input type="text" />
    <label for="Username">Username</label>
    <input type="text" />
    <label for="name">Password</label>
    <input type="password" />
    <button>Save</button>
  </body>
</html>
