<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employees</title>
    <link rel="stylesheet" href="index-style.css" />
  </head>
  <body>
    <div class="sign_in">
      <h2>Log In</h2>
      <input type="text" placeholder="username" />
      <input type="text" placeholder="password" />
      <a href="../create-account/create-account.html">Create account</a>
      <button>Log in</button>
    </div>
  </body>
</html>
